@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,body{
  height: 100%;
}

html,body{
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: unset;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
}



.bi{
  display: flex;
}

h1, h2, button, label{
  font-family: 'Montserrat', serif;
}

p, a, h3, input, textarea, li{
  font-family: "Raleway", serif;
}