.hiding-banner{
    display: flex;
    width: 100%;
    height: 50vw;
    background: linear-gradient(to bottom, #F48DBB, #F2418A);
    color: #ffffff; 
    overflow: hidden;
    position: relative;
}
.background-banner-content{
    width: 100%;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    h2 {
        font-size: 10vw;
        font-weight: bold;
    }
    p {
        font-size: 5vw;
          font-weight: bold;
    }
}
#banner-content {
    z-index: 1;
}
#banner-copy {
    font-size: 7vw;
}
#banner-date {
    font-size: 7vw;
    font-weight: 1000;
    background-color: rgb(250, 174, 221);
    padding: 0.5vw 1vw;
}
#banner-date-container {
    display: flex;
    justify-content: flex-end;
    
}
#banner-circle-1 {
    width: 35vw;
    height: 35vw;
    top: -10vw;
    left: -5vw;
}
#banner-circle-2 {
    width: 30vw;
    height: 30vw;
    bottom: -15vw;
    left: 15vw;
}
#banner-circle-3 {
    width: 30vw;
    height: 30vw;
    right: -15vw;
}
#banner-corazon-icon {
    width: 40vw;
    height: auto;
    position: absolute;
    opacity: 0.7;
    right: 5vw;
    bottom: 5vw;
}
.background-banner-circle{
    position:absolute;
    border-radius: 50%;
    background-color:#FBCFE8;
    opacity: 20%;
}
@media (min-width: 1024px) {
    .hiding-banner{
        height: 20vw;
    }
    .background-banner-content h2{
        font-size: 3vw;
    }
    .background-banner-content p{
        font-size: 1.5vw;
    }
    #banner-corazon-icon {
        width: 20vw;
        height: auto;
        right: auto;
        bottom: auto;
        left:20vw;
    }
    #banner-circle-1 {
        width: 20vw;
        height: 20vw;
        top: -4vw;
        left: -2vw;
    }
    #banner-circle-2 {
        width: 16vw;
        height: 16vw;
        bottom: -4vw;
        left: 5vw;
    }
    #banner-circle-3 {
        width: 30vw;
        height: 30vw;
        right: -10vw;
        bottom: -10vw;
    }
    #banner-copy {
        font-size: 4vw;
    }
    #banner-date {
        font-size: 2vw;
    }
}
.main-home-frontpage{
    width: 100%;
}
.main-home-frontpage-text{
    order: 2;
    color: #ffffff;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vw;
    align-items: flex-start;
}
.frontpage-about{
    order: 2;
    background-color: #064e7aff;
}
.frontpage-programs{
    order: 4;
    background-color: #137ebeff;
}
.main-home-frontpage-text p{
    font-size: 5vw;
}
.frontpage-about h1{
    font-size: 10vw;
    font-weight: bold;
}
.frontpage-about h3{
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 2vw;
}
.frontpage-programs-section{
    display: flex;
    flex-direction: column;
}
.frontpage-programs h2{
    color: #ffffff;
    font-size: 6vw;
    font-weight: bold;
    margin-bottom: 2vw;
}
.main-home-frontpage-img{
    width: 100% !important;
    height: auto !important;
    margin: 0 0 -5px 0;
    display: block;
}
.main-home-frontpage-img{
    order: 1;
}

.impact-grid{
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin: 10vw 0 10vw 0;
    color: #064d79;
    text-align: center;
    align-items: center;
}

.impact-grid h1{
    font-size: 4.5vw;
}

.impact-item{
    display: flex;
    gap: 1vw;
    align-items: center;
    font-weight: bold;
}
.impact-item img{
    width: 20vw !important;
    height: auto !important;
    flex-shrink: 0;
    color: black;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    justify-items: center;
}

.impact-title{
    width: 70vw;
    color: black;
}
/* Mobile-first: first item on top spanning both columns */
.impact-item-first{
    grid-column: span 2;
    justify-self: center;
}

.impact-text{
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #137ebeff;
}
.impact-text h3{
    font-size: 10vw;
}
.impact-text p{
    font-size: 3vw;
}

.introduction{
    margin: 20vw 7vw 10vw;
    color: #064d79;
}

.introduction h1{
    text-align: center;
    font-size: 6vw;
    margin-bottom: 3vw;
}

.introduction p{
    font-size: 5vw;
    text-align: left;
}

.home-colaborations-text{
    background-color: #231f20ff;
    margin-top: -5px;
    padding: 10vw 10vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: start;
}

.home-colaborations h2{
    font-size: 7vw;
    font-weight: bold;
}

.home-colaborations p{
    font-size: 4.5vw;
    line-height: 1.5;
}

.home-button{
    color: white;
    text-decoration: none;
    width: fit-content;
    font-size: 5vw;
    font-weight: 800;
    padding: 2vw 5vw;
    border: 2px solid white;
    border-radius: 10px;
}

.home-button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.home-button:active{
    background-color: rgba(255, 255, 255);
    color: black;
    border: 2px solid white;
}

@media(min-width:1024px){
    .frontpage-home-section{
        display: grid;
        margin-top: 0;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
    }
    .main-home-frontpage{
        margin-top:0;
    }
    .main-home-frontpage-text{
        padding: 5vw 7vw;
        gap: 2vw;
        height: auto;
    }
    .main-home-frontpage-text p{
        font-size: 1.5vw;
    }
    .frontpage-about h1{
        font-size: 3vw;
        text-align: center;
    }
    .frontpage-about h3, .frontpage-programs h2{
        font-size: 1.5vw;
        font-weight: 500;
        margin: 0;
    }
    .main-home-frontpage-img{
        width: 100%;
        height: 100%!important;
        object-fit: cover;
        object-position: center;
    }
    .frontpage-programs-section{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto;
    }
    .frontpage-programs-section img{
        height: 100%!important;
        object-fit: cover;
    }
    .frontpage-programs{
        order:1!important;
    }
    .frontpage-programs h2{
        font-size: 3.5vw;
    }
    .frontpage-programs p{
       font-size: 2vw;
    }
    /* Impacto */
    .impact-grid{
        margin: 0;
        padding: 10vw 10vw;
        align-items: flex-start;
    }
    .impact-title{
        text-align: start;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2vw;
    }
    .impact-title h2{
        font-size: 3.5vw;
    }
    .impact-title p{
        font-size: 2vw;
        font-weight: 500;
    }
    .items{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .impact-item{
        align-items: unset;
    }
    .impact-item img{
        width: 10vw !important;
        height: auto !important;
    }
    .impact-text{
        width: 12vw;
    }
    .impact-text h3{
        font-size: 5vw;
    }
    .impact-text p{
        font-size: 1.5vw;
    }
    /* Home colaborations */
    .home-colaborations{
        display: grid;
        grid-template-columns: 60% 40%;
        height: 32vw;
    }
    .home-colaborations img{
        object-fit: cover;
        /* object-position: 0 -1vw; */
    }
    .home-colaborations-text{
        padding: 5vw 5vw;
        gap: 2vw;
        text-align: start;
        align-items: flex-start;
        margin-right: -0.1vw;
    }
    .home-colaborations-text h2{
        font-size: 3.5vw;
    }
    .home-colaborations-text p{
        font-size: 2vw;
        line-height: 1.5;
    }
    .home-button{
        font-size: 2vw;
        padding: 1vw 3vw;
    }
}


.higiene-button {
    border-style: none;
    border-radius: 12px;
    min-width: 152px;
    min-height: 52px;
    font-size: 18px;
    font-weight: 600;
}

.higiene-button-pink {
    background-color: #DB2777;
    color: white;
}

.higiene-banner-container {
    position: relative;
    display: flex;
    width: 100%;
    padding: 100px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
    overflow-y: hidden;
    background: linear-gradient(140deg, #F48DBB 33.13%, var(--Accent-Color-1-300, #F9A8D4) 60.99%, #F9C3DD 114.8%);

}

.higiene-banner-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.higiene-banner-heading p {
    display: flex;
    padding: 4px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(190, 24, 93, 0.10);
    color: #FFF;

    color: var(--Accent-Color-1-50, #FDF2F8);

    /* Text lg/Bold */
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}

.higiene-banner-content {
    display: flex;
    max-width: 645px;
    flex-direction: column;
    gap: 80px;
    z-index: 3;
}

.higiene-banner-content h1 {
    color: #FFF;

    max-width: 581px;
    /* Display md/Bold */
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px;
}

.higiene-banner-image {

    width: 888.667px;
    height: 684.626px;
    position: absolute;
    right: -140px;
    bottom: -167.626px;
    overflow: hidden;
}

.higiene-banner-chicas {
    position: absolute;
    top: 190px;
    left: -130px;
    width: 888.667px;
    height: 496px;
    aspect-ratio: 43/24;
    background: url(/campania-higiene-12.png) 50% / cover no-repeat;
    z-index: 2;
}

.higiene-banner-estrella {
    position: absolute;
    top: 90px;
    left: 345px;
    width: 41px;
    height: 40px;
    aspect-ratio: 41/40;
    background: url(/campania-higiene-19.png) 50% / cover no-repeat;
    z-index: 2;
}

.higiene-banner-corazon-1 {
    position: absolute;
    top: 142px;
    left: 510px;
    width: 65.368px;
    height: 63.866px;
    background: url(/ilus.png);
    /* transform: rotate(-53.888deg);
    aspect-ratio: 65.37/63.87;
    background: url(/campania-higiene-6.png)-1316.81px -415.513px / 2316.255% 1581.463% no-repeat; */
    z-index: 2;
}

.higiene-banner-corazon-2 {
    position: absolute;
    top: 188.7px;
    left: 90.7px;
    width: 62.841px;
    height: 70.449px;
    background: url(/ilus2.png);
    /* transform: rotate(-38.423deg);
    aspect-ratio: 62.84/40.45;
    background: url(/campania-higiene-6.png) -867.135px -403.38px / 1874.724% 1942.857% no-repeat; */
    z-index: 2;
}

.higiene-banner-copa {
    position: absolute;
    top: 44px;
    left: 366px;
    width: 88.191px;
    height: 156.149px;
    transform: rotate(13.963deg);
    aspect-ratio: 48/85;
    background: url(/campania-higiene-16.png) -85px -15.659px / 312.571% 117.737% no-repeat;
    z-index: 2;
}

.higiene-banner-toallita {
    position: absolute;
    top: 116px;
    left: 0px;
    width: 128px;
    height: 130px;
    aspect-ratio: 64/65;
    background: url(/campania-higiene-14.png) -32.289px 0px / 152.197% 100% no-repeat;
    z-index: 2;
}

.higiene-banner-toalla {
    position: absolute;
    top: 163px;
    left: 563px;
    width: 122.03px;
    height: 162.706px;
    transform: rotate(-7.574deg);
    aspect-ratio: 3/4;
    background: url(/campania-higiene-18.png) -14.615px -39.909px / 223.901% 145.103% no-repeat;
    z-index: 2;
}


.higiene-banner-blur-1 {
    position: absolute;
    top: 127px;
    left: 91px;
    fill: rgba(248, 198, 225, 0.60);
    filter: blur(38.11764907836914px);
    width: 473px;
    height: 473px;
    z-index: 1;
}

.higiene-banner-blur-2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 648px;
    height: 648px;
    fill: rgba(249, 168, 212, 0.20);
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.30);
    z-index: 1;
}


.higiene-banner-circle {
    position: absolute;
    width: 426px;
    height: 413px;
    border-radius: 16777200px;
    opacity: 0.2;
    background: var(--Accent-Color-1-200, #FBCFE8);
    z-index: 1;
    /* Los coloca por detrás del contenido */
    pointer-events: none;
    /* Evita que tapen los botones o enlaces al hacer clic */
}

.higiene-banner-circle-1 {
    bottom: -265.18px;
    left: 0px;
}

.higiene-banner-circle-2 {
    right: -65px;
    top: -234px;
}

.higiene-banner-button {
    display: flex;
    padding: 10px 60px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: flex-start;
    z-index: 3;
}